{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
{% for item in data %}
{{ item.id}}<br>
{{ item.name}}<br>
{{ item.email}}<br>
{{ item.age}}<br>
{% endfor %}
{% endblock %}
